/* MEDIA QUERIES BEGIN */
@media only screen and (max-width: 900px) {
    .login-image {
        display: none !important;
    }
  }

  @media only screen and (max-width: 750px) {
    .update-every {
        margin-left: 0% !important;
    }

    .update-horizontal {
        display: block !important;
        flex-direction: column !important;
        justify-content: center !important;
    }
  }

/* MEDIA QUERIES END*/

a, i {
    color: #000 !important;
}

.bg-gradient-primary div {
    color: #000 !important;
}

::after {
    color: #000 !important;
}

.bg-gradient-primary {
    background-color: #e9ecef !important;
    background-image: linear-gradient(180deg, #e9ecef 10%, #adb5bd 100%) !important;
    background-size: cover !important;
}

.bg-gradient-secondary {
    background-color: #0e6edc !important;
    background-image: linear-gradient(180deg, #0e6edc 10%, #db8415 100%) !important;
    background-size: cover !important;
}

.horizontal-align {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-logo {
    margin-top: 30px;
    width: 150px;
}

.caminika-text {
    height: 80px;
}

#truck1-text>p {
    display: inline-block;
}

#truck2-text>p {
    display: inline-block;
}

.text-s>p {
    display: inline-block;
}

.login-image {
    display: none;
    object-fit: fill !important;
}

.update-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.update-every {
    margin-left: 40%;
}

div>.fa-truck {
    color: #db8415 !important;
}

td>i {
    color: #0e6edc !important;
}

.card-bkg {
    background-image: url('../img/card-design.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.success-background {
    background-color: #55a630;
}

.caminika-logo-success {
    width: 80%;
    margin: 20px auto;
}

.image-container-success {
    background-color: #f0ead2;
    margin: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 60px;
}

.success-text {
    color: #FFF !important;
}

.success-icon-container {
    width: 300px;
    height: 300px;
    background-color: #bfd200;
    margin: 20px auto;
    display: grid;
    place-items: center;
    border-radius: 150px;
}

.success-icon {
    color: #FFF !important;
}

#dropdown-charge {
    border: 1px solid #BDBDBD;
    width: 500px;
    text-align: left;
    margin: auto;
    margin-bottom: 20px;
}

#dropdown-charge>ul {
    margin: 0px;
    padding: 0px;
}

#dropdown-charge>ul>li {
    height: 30px;
    text-overflow: ellipsis;
    font-size: 12px;
}

#dropdown-charge>ul>li>a {
    padding-top: 20px;
    padding-left: 20px;
}

#dropdown-charge>ul>li:hover {
    background-color: lightskyblue;
    cursor: pointer;
}

.create-bay {
    background-image: url('../img/card-design.png');
    background-position: bottom; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.ai-loading {
    background-color: #000 !important;
}

#map>div {
    width: 100% !important;
}